<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="chatRoom">
    <meta name="author" content="wan">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>聊天室</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

    <script src="{{ static_url('js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-3 chat_left">
          <div class="row">
            <div class="col-md-12 height1">
                <h2>关于MM</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 height2">
                <p class="notice">欢迎你来到MM聊天室</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 height3">
              <table class="table">
                  <tbody>
                    <tr>
                      <td>哈哈哈</td>
                      <td>哈哈哈</td>
                    </tr>
                    <tr>
                      <td>哈哈哈</td>
                      <td>哈哈哈</td>
                    </tr>
                    <tr>
                      <td>哈哈哈</td>
                      <td>哈哈哈</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-9"></div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
